{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block title %}Что бы приготовить?{% endblock %}

{% block sort %}
<form method="get" class="mt-4" style="background-color: #FFEDC3; border-radius: 10px; padding: 4%;">
    <div class="containter">
        <div class="float-md-right px-md-2 form-group">
            <span>Сортировать по:</span>
            <div class="form-check p-2">
                <input class="form-check-input" type="radio" name="sortBy" id="exampleRadios1" value="alph" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Алфавиту
                </label>
            </div>
            <div class="form-check p-2">
                <input class="form-check-input" type="radio" name="sortBy" id="exampleRadios2" value="favs"
                    {% if request.GET.sortBy == 'favs' %}checked{% endif %}>
                <label class="form-check-label" for="exampleRadios2">
                    Добавлениям в избранное
                </label>
            </div>
            <div class="form-check p-2">
                <input class="form-check-input" type="radio" name="sortBy" id="exampleRadios3" value="comments"
                    {% if request.GET.sortBy == 'comments' %}checked{% endif %}>
                <label class="form-check-label" for="exampleRadios3">
                    Количеству комментариев
                </label>
            </div>
        </div>
        {{form|crispy}}
        <button type="submit" style="background-color: #361D62; border-radius: 5px; color: #e6e6e6;" class="btn">Найти</button>
    </div>

</div>

</form>
{% endblock %}