{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block sort %}
<div class="float-md-right bg-light px-md-2">
  <form method="get">
    <span>Сортировать по:</span>
    <div class="form-check p-2">
      <input class="form-check-input" type="radio" name="sortBy" id="exampleRadios1" value="alph" checked>
      <label class="form-check-label" for="exampleRadios1">
        Алфавиту
      </label>
    </div>
    <div class="form-check p-2">
      <input class="form-check-input" type="radio" name="sortBy" id="exampleRadios2" value="favs"
        {% if request.GET.sortBy == 'favs' %}checked{% endif %}>
      <label class="form-check-label" for="exampleRadios2">
        Добавлениям в избранное
      </label>
    </div>
    <div class="form-check p-2">
      <input class="form-check-input" type="radio" name="sortBy" id="exampleRadios3" value="comments"
        {% if request.GET.sortBy == 'comments' %}checked{% endif %}>
      <label class="form-check-label" for="exampleRadios3">
        Количеству комментариев
      </label>
    </div>
    <button type="submit" class="btn btn-success p-2">Сортировать</button>
  </form>
</div>
{% endblock %}

{% block content %}

<div class="cards p-3">
  {% for i in list_dishes %}
  <div class="card ">
    <div class="embed-responsive embed-responsive-4by3">
      <img src="{{i.img.url}}" class="card-img-top embed-responsive-item " alt="...">
    </div>
    <div class="card-body d-flex flex-column ">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text ">
      <ul>
        {% for each in i.dishingredient_set.all %}
        <li>{{ each.ingredient }} {{each.weight}} гр</li>
        {% endfor %}
      </ul>
      </p>
      <a href="{% url 'detail_page' i.pk %}" class="btn btn-primary mt-auto">Перейти</a>
    </div>
    <div class="card-footer">
      Комментарии: {{ i.comment_set.count }}
      <form method='POST' action="add_remove_bookmark/{{i.id}}">
        {% csrf_token %}
        {% if request.user in i.bookmarks.all %}
        <button type='submit'>Удалить из закладок</button>
        {% else %}
        <button type='submit'>Добавить в закладки</button>
        {% endif %}
      </form>
      <div>В закладках у {{i.bookmarks.all.count}} пользователя(ей)</div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}