{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{question.title}}{% endblock %}

{% block content %}
<div class="card full-screen py-3 mt-4">
    <div class="row no-gutters">
        <div class="col-md-2 d-flex flex-column align-items-center">
			<img src="{% static 'img/avatar.png' %}" class="card-img-top p-2" alt="...">
			<div>{{question.author}}</div>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{question.title}}</h5>
				<p class="card-text">{{question.content}}</p>
				<div>{{ question.date }}</div>
                <p class="card-text"><small class="text-muted"><a href="{{request.META.HTTP_REFERER}}">Вернуться назад</a></small></p>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="description">
            {{dish.description| linebreaks}}
        </div>
    </div>
</div>


<div class="comments container">
    <h3 class="title-comments">Ответы ({{question.answer_set.count}})</h3>
    {% for comment in question.answer_set.all %}
    <div class="media">
        <div class="media-body">
            <div class="media-heading">
                <div class="author">{{ comment.author }}</div>
                <div class="metadata">
                    <span class="date">{{ comment.date }}</span>
                </div>
            </div>
            <div class="media-text">{{ comment.content|linebreaks }}</div>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info" role="alert">
        Оставьте первый ответ!
    </div>
    {% endfor %}
</div>

<div class="comments new-comment container">
    {% if request.user.is_authenticated %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" style="background-color: #361D62; border-radius: 5px; color: #e6e6e6;" class="btn">
        </form>
    </div>
    {% else %}
    {% url 'login' as url_login %}
    <div class="alert alert-info" role="alert"><a href="{{url_login}}" class="alert-link">Войдите</a>, чтобы добавить
        ответ</div>
    {% endif %}
</div>
{% endblock %}