.embed-responsive .card-img-top, 
.full-screen img {
    object-fit: cover !important;
    height: 100%;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.full-screen {
    margin: auto;
    max-width: 768px;
}


.comments {
    margin: 20px;
}

.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}
.media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8125rem;
}
.media-text {
    margin-bottom: 0.25rem;
}
.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}





div#div_id_ingredient_list > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: .5rem;
}



.description {
    padding: 10px;
}

.btn-custom {
    background-color: #361D62;
    color: #361D62;
}